html,
body {
  height: 100%;
}

h1 {
  margin-top: 0;
  font-size: 6em;
}

h1,
p {
  color: burlywood;
  grid-column-start: 2;
  text-align: center;
}
.botones {
  text-align: center;

  grid-column-start: 2;
  background-color: lemonchiffon;
  padding-bottom: 1em;
  border-radius: 12px;
}

body {
  font-family: "Grandstander", cursive;
  display: grid;
  grid-template-columns: 0.25fr 1.5fr 0.25fr;
  grid-template-rows: 0.2fr 1fr 1fr;
  gap: 0px 0px;

  grid-template-areas:
    ". . ."
    ". login ."
    ". . .";
  justify-items: center;
  background-color: brown;
  background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.login {
  --webkit-box-shadow: 0px 0px 8px 8px rgba(69, 45, 37, 0.51);
  -moz-box-shadow: 0px 0px 8px 8px rgba(69, 45, 37, 0.51);
  box-shadow: 0px 0px 8px 8px rgba(69, 45, 37, 0.51);
  border-radius: 24px;
  padding: 20px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-area: login;
  background-color: #a52a2a;
  /* background-image: url("./img/arches.png"); */
}

button {
  margin-top: 40px;
}

#password {
  margin-top: 20px;
  margin-bottom: 20px;
}
