

h1,
p {
  color: burlywood;
  grid-column-start: 2;
  text-align: center;
}

body {
  font-family: "Grandstander", cursive;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  justify-items: center;
  background-color: brown;
  
  background-color: #a52a2a;
background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /* background-image: url("https://www.transparenttextures.com/patterns/dimension.png"); */
/* background-image: url("https://www.transparenttextures.com/patterns/food.png"); */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#enter {
  border-radius: 6px;
  margin-right: 24px;
  margin-left: 22px;
}

#deleteAll {
  border-radius: 6px;
}

.done {
  text-decoration: line-through;
  text-decoration-thickness: 5px;
}

button {
  text-decoration: none !important;
  
}
.botones {
  justify-items: center;
  grid-column-start: 2;
  background-color: lemonchiffon;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 12px;
}

@media only screen and (max-width: 1010px) {

  .botones{ 
    justify-self: center;
    padding-left: 150px;
  padding-right: 150px;
  }

}

.delete {
  justify-self: right;
  margin-left: 4px;
  margin-top: 4px;
  margin-right: 4px;
  border-radius: 0em;
  border-style: none;
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

#userinput{
border-radius: 8px;

}

ul {
  grid-column-start: 2;
  min-width: 25%;
  max-width: 50%;
  align-self: center;
  background-color: darksalmon;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 12px;
}

li {word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; 
  white-space:wrap; 
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  justify-self: center;
}


li:hover {
  cursor: pointer;
}

.navegacion {
  grid-column-start: span 3;
  justify-self: right;
}

.navegacion button {
  background-color: transparent;
  border: none;
}

